*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    animation: color-me-in 15s infinite; /* other keywords like "infinite alternate" can be useful here */
    font-family: sans-serif;
}

@keyframes color-me-in {
    0% {
      background: white;
    }
    /* Adding a step in the middle */
    12.5% {
      background: red;
    }
    25% {
      background: orange;
    }
      37.5% {
      background: yellow;
    }
      50% {
      background: green;
    }
      62.5% {
      background: cyan;
    }
      75% {
      background: sky;
    }
      87.5% {
      background: blue;
    }
      100% {
      background: indigo;
    }
  }
  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    border: solid black 2px;
}

.location, .temperature {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.temperature{
    width: 100%;
    flex-direction: column;
}
.degree-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 25px;
}
.degree-section h2{
    font-size: 25px;
}

.button-change {
    background-color: #f4511e;
    box-shadow: none;
    padding: 3px;
    border-radius: 4px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.button-load {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
  }
  
  .button-load:hover, .button-change:hover {opacity: 1}

