*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(132, 163, 47), rgb(138, 66, 116));
    font-family: sans-serif;
    color: white;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.temperature{
    margin: 30px;
    flex-direction: column;
}
.degree-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}

