*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    animation: color-me-in 15s infinite; 
}

@keyframes color-me-in {
    0% {
      background: rgba(255, 255, 255, 0.5);
    }
    14.28% {
      background: rgba(255, 0, 0, 0.5);
    }
    28.56% {
      background: rgba(255, 127, 0, 0.5);
    }
      42.84% {
      background: rgba(255, 255, 0, 0.5);
    }
      57.12% {
      background: rgba(0, 255, 0, 0.5);
    }
      71.4% {
      background: rgba(0, 0, 255, 0.5);
    }
      85.68% {
      background: rgb(75,0,130,0.5);
    }
      100% {
      background: rgba(148, 0, 211, 0.5);
    }
  }
  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    border: solid black 2px;
}

.location, .temperature {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.temperature{
    width: 100%;
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 25px;
}
.degree-section h2{
    font-size: 25px;
}

.button-change {
    background-color: #f4511e;
    box-shadow: none;
    padding: 3px;
    border-radius: 4px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

.button-load {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 6px;
  }
  
.button-load:hover, .button-change:hover {opacity: 1}

